#ui-message { z-index:99; }

.uiMessageBox
{
	position: fixed;
	width: 350px;
	height: 201px;
	left:50%;
	margin-left: -175px;
	top:50%;
	margin-top: -100px;
	color: #f8e064;
	font-weight:bold;
	font-family: Arial;
	font-size: 12px;
	text-shadow: 0.1em 0.1em 0.2em black;
	background-image: url('../resources/ui/dialogs/ui-message/images/ui-message.png');
	display: none;
}

.uiMessageBoxTitle
{
	border: 0px #fff solid;
	position:absolute;
	top:10px;
	left:5px;
	width:340px;
	text-align: center;
}

.uiMessageBoxBody
{
	border: 0px #fff solid;
	position:absolute;
	top:30px;
	left:5px;
	width:340px;
    height: 135px;
    text-align: center;
	color: #fff;
	font-weight:normal;
    overflow-x: hidden;
    overflow-y: auto;
}

.uiMessageBoxButton
{
	position:absolute;
	top:165px;
	left:305px;
}

/* ToolTips only left/right arrows defined see top: 50% defined as common to :before/:after */
.toolTip
{
    display: none;
    position: absolute;
    float: left;
    /*width: 250px;*/
    /*height: 120px;*/
    /*padding: 10px;*/
    /*background: rgba(0,0,0,0.6);*/
    /*border-radius: 10px;*/
    /*border: #f8e064 solid 3px;*/
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    color: #33ccff;
    z-index: 9;
}

.toolTip[type="game"]
{
    width: 250px;
    height: 120px;
    border: #f8e064 solid 3px;
    border-radius: 10px;
    padding: 10px;
    background: rgba(0,0,0,0.7);
}

.toolTip[type="ui"]
{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    background: #151515;
}

.toolTip:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent  #000;
    display: block;
    width: 0;
    z-index: 11;
    top: 50%;
}

.toolTip[type="game"]:after
{
    /*content: '';*/
    /*position: absolute;*/
    /*border-style: solid;*/
    /*border-color: transparent  #000;*/
    /*display: block;*/
    /*width: 0;*/
    /*z-index: 11;*/
    margin-top: -15px;
}

.toolTip[type="ui"]:after
{
    /*content: '';*/
    /*position: absolute;*/
    /*border-style: solid;*/
    /*border-color: transparent  #000;*/
    /*display: block;*/
    /*width: 0;*/
    /*z-index: 11;*/
    margin-top: -5px;
}

.toolTip[type="game"][orientation="right"]:after
{
    border-width: 15px 0px 15px 15px;
    right: -15px;
}

.toolTip[type="game"][orientation="left"]:after
{
    border-width: 15px 15px 15px 0;
    left: -15px;
}

.toolTip[type="ui"][orientation="right"]:after
{
    border-width: 5px 0px 5px 5px;
    right: -5px;
}

.toolTip[type="ui"][orientation="left"]:after
{
    border-width: 5px 5px 5px 0;
    left: -5px;
}

.toolTip:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent #f8e064;
    display: block;
    width: 0;
    z-index: 10;
    top: 50%;
}

.toolTip[type="game"]:before
{
    margin-top: -17px;
}

.toolTip[type="ui"]:before
{
    margin-top: -5px;
}

.toolTip[type="game"][orientation="right"]:before
{
    border-width: 17px 0px 17px 17px;
    right: -20px;
}

.toolTip[type="game"][orientation="left"]:before
{
    border-width: 17px 17px 17px 0;
    left: -20px;
}

.toolTip[type="ui"][orientation="right"]:before
{
    border-width: 5px 0px 5px 5px;
    right: -5px;
}

.toolTip[type="ui"][orientation="left"]:before
{
    border-width: 5px 5px 5px 0;
    left: -5px;
}

#gameToolTipOk
{
    position:absolute;
    top:105px;
    left:220px;
}


.smallToolTip
{
    display: none;
    position: absolute;
    width: 101px;
    height: 15px;
    border-radius: 5px;
    padding: 2px;
    background: rgba(0,0,0,0.7);
    font-family: Arial;
    font-weight: normal;
    color: #33ccff;
    z-index: 9;
    font-size: 12px;
    text-align: center;
}

.smallToolTip:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent  #000;
    display: block;
    width: 0;
    z-index: 11;
    top: 50%;
}

.smallToolTip[orientation="bottom"]:after
{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    border-top-color: rgba(0, 0, 0, 0.7);
    top:100%;
    left: 46%;
}

.smallToolTip[shape="pin"]
{
    width: 36px;
    height: 20px;
    border-radius: 5px;
    padding: 2px;
    background: rgba(0,0,0,0.7);
    font-family: Arial;
    font-weight: normal;
    color: #33ccff;
    z-index: 9;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}
