/* contextual pop-up menu that appear when a unit can mount/reinforce/resupply/embark/undo-move */
#unit-context
{
	position: fixed;
	z-index:97;
    border-top: 1px solid #f8e064;
    top: 100%;
	/*margin-top: -95px;*/
    margin-top: -110px;
	background: rgba(0, 0, 0, 0.7);
	padding-top: 3px;
    padding-bottom: 5px;
	float: left;
	left:50%;
	/*margin-left: -60px;*/
    margin-left: -22px;
	display: none;
	border-radius: 5px;
}

/* unit information window */
#unit-info
{
    position: fixed;
    z-index:90;
    border: 0px solid white;
    width: 840px;
    top: 100%;
    margin-top: -70px;
    left: 50%;
    margin-left: -420px;
    padding: 0px;
    display: none;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em black;
    color: #f8e064;
}

.statsGlyph
{
    font-family: openpanzer-menu;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    color: #ffb506;

    /*outline the glyph*/
    text-shadow:
    -1px -1px 0 rgba(0,0,0,0.7),
    1px -1px 0 rgba(0,0,0,0.7),
    -1px 1px 0 rgba(0,0,0,0.7),
    1px 1px 0 rgba(0,0,0,0.7);

    float:left;
    margin-top: 3px;
}

.statsText
{
    min-width: 30px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em black;
    color: #f8e064;
    text-align: center;
}

.nameRow
{
	float: left;
	border: 0px solid yellow;
	width:100%;
	padding:0px;
}

.statsRow
{
    width: 100%;
	height: 70px;
	background: rgba(20,20,20, 0.7);
	border-radius: 5px;
    border-top: 1px solid #f8e064;
    margin: 0px auto 0px auto;
}

#uImageBg
{
    float: left;
    border: 0px solid yellow;
    width: 80px;
    height: 50px;
    background-image: url('../resources/ui/dialogs/equipment/images/unit-box-pressed.png');
    background-repeat: no-repeat;
}

#uImage,.uImageAnimation
{	
	border: 0px #fff solid;
	width: 80px;
	height:50px;
	-webkit-animation:unitanim 2s steps(9,end) infinite alternate;
	-moz-animation:unitanim 2s steps(9,end) infinite alternate;
	background:url('../resources/units/images/pa924.png');
}

.uSpacer
{
    min-width: 15px;
    font-size: 0;
    height: 10px;
    line-height: 0;
    display: inline-block;
}
.uSmallFlag
{
    height: 12px;
    width: 22px;
    background-image: url('../resources/ui/flags/eqp-adlerkorps/flags_med.png');
    background-repeat: no-repeat;
    background-position: -147px 0px; /*start with german flag 8th flag of 21px each */
    display: inline-block;
}

#uName
{
	border: 0px #fff solid;
	text-align: left;
	/*margin-left: 10px;*/
	font-size: 14px;
    /*outlined text with extra shadow below*/
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    2px 2px 0 #000;
}

#uFlag
{
	width:60px;
	height:34px;
	margin-top: 5px;
	margin-left: 5px;
	background-image: url('../resources/ui/flags/eqp-adlerkorps/flag_big_18.png');
    background-repeat: no-repeat;
    padding-top: 31px;
    line-height: 8px;
    float: left;
}

#uLeader
{
	float: left;
    /*margin-top: 10px;*/
	/*margin-left: 10px;*/
    position:absolute;
    top: 0px;
    left: -20px;
}

#leaderInfo
{

    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    text-shadow: none;
    color: #f8e064;
}

#uCarrier, #uTransport
{
    float: left;
    /*margin-top: 10px;*/
    /*margin-left: 0px;*/
    position:absolute;
    top: 35px;
    left: -20px;
}

#uNext {
    float: left;
    position: absolute;
    top: 0px;
    right: -20px;
    /* using utf8 icon needs some centering*/
    font-size: 12px;
    letter-spacing: -3px;
}

@-webkit-keyframes unitanim
{
	/*from {background-position:0px;}
	to {background-position:-720px;}*/
	from {background-position:0% 50%;}
	to {background-position:112% 50%;}
}

@-moz-keyframes unitanim
{
	from {background-position:0% 50%;}
	to {background-position:112% 50%;}
}
